

@{
    Layout = null;
}
@model List<string>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Countries</title>
</head>
<body>
    <ul>
        @foreach (var country in Model)
        {
            <li><b>@country</b></li>
        }
    </ul>
</body>
</html>
